GOOGLE_AUTH_MODE=oauth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REFRESH_TOKEN=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY_b64=
GOOGLE_DRIVE_FOLDER_ID=
GUEST_LIST_FILE_ID=
GALLERY_USER=gallery
GALLERY_PASSWORD=gallery
AUTH_TOKEN_SECRET=
AUTH_TOKEN_TTL_SECONDS=2592000
UPLOAD_MAX_FILES=10
UPLOAD_MAX_SIZE_MB=15
SLIDE_INTERVAL_MS=2000
FIRST_SLIDE_DELAY_MS=5000
CHALLENGE_POLL_INTERVAL_MS=120000
CHALLENGE_UPLOAD_POLL_INTERVAL_MS=300000
ALLOWED_ORIGINS=
